/* BEGIN btn */
.btn
	user-select: none
	cursor: pointer
	text-align: center
	white-space: wrap
	display: inline-block
	vertical-align: middle
	transition: all 0.3s ease-in
	border: none
	letter-spacing: 0.8px
	&--bg
		@extend .btn
		background-color: $main
		color: $white
		+font(16, 30, 600, $RW)
		max-width: rem(244)
		width: 100%
		//height: rem(50)
		//padding: rem(17) rem(42)
		text-transform: uppercase
		border: 1.5px solid transparent
		height: rem(50)
		line-height: rem(50)
		&:hover
			background-color: transparent
			border-color: $main
			color: $main
		&2
			@extend .btn--bg
			height: rem(55)
			line-height: rem(55)
			max-width: rem(384)
			width: 100%
			@media only screen and (max-width: $lg)
				margin-top: rem(15)
		&3
			@extend .btn--bg
			height: rem(55)
			line-height: rem(55)
			max-width: 95%
	&--bd
		&-1
			@extend .btn
			+font(30, 80, 400, $PD)
			line-height: 1
			color: $grey
			//padding: rem(16) rem(47) rem(17)
			padding: 9px 5px 13px
			text-align: center
			background-color: transparent
			border: solid 1px $greyLight4
			max-width: rem(313)
			width: 100%
			margin: 0 auto
			&:hover
				border-color: $main
				color: $main
	&--blck
		width: 100%
		max-width: 100%
		padding-left: 5px
		padding-right: 5px
			
/* BEGIN logo */
.logo--text
	+font(36, 60, 100, $MS)
	color: $textGrey3
	b
		+font(36, 60, 700, $MS)
		color: $red
	
/* END logo */

/* BEGIN field */
.field
	&--1
		+font(18, 80, 400, $RW)
		color: $textGrey4
		padding: rem(21) rem(25) rem(20)
		border: none
		height: rem(55)
		line-height: rem(55)
		max-width: rem(384)
		width: 100%
		border-right: 1px solid $greyLight2
	&--2
		display: inline-block
		vertical-align: middle
		max-width: rem(364)
		width: 100%
		border: none
		border-bottom: 1px solid $white
		background-color: transparent
		color: $white
		padding: 5px 0
		+font(16, 30, 300, $RW)
		&::-moz-placeholder
			color: $white
			opacity: 1
		&:-moz-placeholder
			color: $white
		&:-ms-input-placeholder
			color: $white
		&::-webkit-input-placeholder
			color: $white
		@media only screen and (max-width: $xlg)
			width: 95%
		&:focus
			&::-moz-placeholder
				color: $white
				transform: translateY(-15px)
				font-size: rem(12)
				letter-spacing: 0.8px
			&:-moz-placeholder
				color: $white
				transform: translateY(-15px)
				font-size: rem(12)
				letter-spacing: 0.8px
			&:-ms-input-placeholder
				color: $white
				transform: translateY(-15px)
				font-size: rem(12)
				letter-spacing: 0.8px
			&::-webkit-input-placeholder
				color: $white
				transform: translateY(-15px)
				font-size: rem(12)
				letter-spacing: 0.8px

	&-group
		&--1
			@extend .flex--center
			align-items: flex-start
			font-size: 0
		&--2
			@extend .row
			justify-content: center
/* END field */

/* BEGIN icon */
.icon
	display: inline-block
	vertical-align: center
	user-select: none
	cursor: pointer
	&--1
		@extend .icon
		width: rem(50)
		height: rem(50)
		fill: $main
	&--2
		width: rem(32)
		height: rem(32)
		@extend .icon
		fill: $textGrey3
		background-size: cover
	&--3
		@extend .icon
		width: rem(33)
		height: rem(33)
	&--4
		@extend .icon
		width: rem(65)
		height: rem(65)
/* END icon */

/* BEGIN btn to top */
.btn
	&-top
		position: fixed
		bottom: 20px
		right: 20px
		display: block
		width: rem(40)
		height: rem(40)
		line-height: rem(40)
		text-align: center
		overflow: hidden
		white-space: nowrap
		border: 1.5px solid $main
		background-color: $main
		color: $white
		visibility: hidden
		opacity: 0
		transition: all 0.3s
		z-index: 100
		&::after
			content: "\2191"
			font-size: rem(40)
			font-family: sans-serif
			font-weight: 700
			line-height: 1
		&:hover
			border-radius: 50%
	&--fade-out
		opacity: 0.5

	&--is-visible
		visibility: visible
		opacity: 1
/* END btn to top */

/* BEGIN menu__toggle */
.menu__toggle
	display: inline-block
	vertical-align: middle
	user-select: none
	cursor: pointer
	position: relative
	width: 25px
	height: 3px
	background-color: $teme
	margin-left: 10px
	transition: transform 0.3s ease-in
	&::before, &::after
		content: ""
		@extend .menu__toggle
		position: absolute
		user-select: none
		right: 0
	&::before
		top: -8px
	&::after
		bottom: -8px
	&--active
		background-color: transparent
		&::after
			background-color: $teme
			bottom: 0
			transform: rotate(-45deg) 
		&::before
			background-color: $teme
			top: 0
			transform: rotate(45deg) 
	@media only screen and (min-width: $sm)
		display: none
/* END menu__toggle */