// /* BEGIN flexbox grid */
// $gap: rem(0)
// $cols: 8

// $xs: 35.5rem // 568px
// $sm: 48.5rem // 728px 
// $md: 60rem // 960px
// $lg: 75rem //  1280px
// $xlg: 98.125rem // 1570px


// @function col-width($col)
// 	@return $col * 100% / $cols

// .container
// 	max-width: rem(1566)
// 	width: 100%
// 	margin: auto
// 	padding: 0 rem(15)
// 	@media only screen and (max-width: $xlg) and (min-width: $lg)
// 		width: rem(1170)
// 	@media only screen and (max-width: $lg) and (min-width: $md)
// 		width: rem(940)
// 	@media only screen and (max-width: $md) and (min-width: $sm)		
// 		width: rem(750)
// 	@media only screen and (max-width: $sm) and (min-width: $xs)	
// 		width: 100%
		

// .row
// 	display: flex
// 	flex: 0 1 auto
// 	flex-flow: row wrap
// 	margin-right: -$gap
// 	margin-left: -$gap
// 	&.reverse
// 		flex-direction: row-reverse

// .col
// 	display: flex
// 	flex-flow: column nowrap
// 	&.reverse
// 		flex-direction: column-reverse

// =isColName($name)
// 	.#{$name}-1, .#{$name}-2, .#{$name}-3,
// 	.#{$name}-4, .#{$name}-5, .#{$name}-6,
// 	.#{$name}-7, .#{$name}-8,
// 	[class*=#{$name}-gap]
// 		flex: 0 0 auto
// 	.#{$name}
// 		flex-grow: 1
// 		flex-basis: 0
// 		max-width: 100%
// 		&_start
// 			justify-content: flex-start
// 			text-align: start
// 		&_center
// 			justify-content: center
// 			text-align: center
// 		&_end
// 			justify-content: flex-end
// 			text-align: end
// 		&_top
// 			align-items: flex-start
// 		&_middle
// 			align-items: center
// 		&_bottom
// 			align-items: flex-end
// 		&_around
// 			justify-content: space-around
// 		&_between
// 			justify-content: space-between
// 		&_first
// 			order: -1
// 		&_last
// 			order: 1
		
// 	@for $j from 1 through $cols
// 		$col-name-num: $name + '-' + $j
// 		.#{$col-name-num}
// 			flex-basis: col-width($j)
// 			max-width: col-width($j)
 
// 	.#{($name + '-' + gap + '-0')} 
// 		margin-left: 0
// 	@for $j from 1 through $cols
// 		$col-name-gap: $name + '-' + gap + '-' + $j
// 		.#{$col-name-gap}
// 			margin-left: col-width($j)  
		
	 
// +isColName(xs)    
// @media only screen and (min-width: $xs)
// 	+isColName(sm)    
// @media only screen and (min-width: $sm)
// 	+isColName(md)   
// @media only screen and (min-width: $md)
// 	+isColName(lg)
// @media only screen and (min-width: $xlg)
// 	+isColName(xlg)


// =isColName2($name)
// 	.#{$name}
// 		&_hidden
// 			display: none
// 		&_visible
// 			display: block
// 		&-align
// 			&--center
// 				text-align: center
// 			&--right
// 				text-align: right
// 				justify-content: flex-end
// 			&--left
// 				text-align: left
// 				justify-content: flex-start 


// @media only screen and (max-width: $xs) 
// 	+isColName2(xs)
// @media only screen and (min-width: $xs) and (max-width: $sm)
// 	+isColName2(sm)
// @media only screen and (min-width: $sm) and (max-width: $md)
// 	+isColName2(md)
// @media only screen and (min-width: $md) and (max-width: $lg)
// 	+isColName2(lg)
// @media only screen and (min-width: $lg)
// 	+isColName2(xlg)
// /* END flexbox grid */

// /* BEGIN sticky footer */
// .body
// 	display: flex
// 	flex-direction: column
// 	min-height: 100vh
// .page-wrap
// 	flex: 1 0 auto
// /* END sticky footer */



/* BEGIN flexbox grid */
$gap: rem(15)
$cols: 8

$xs: 35.5rem // 568px
$sm: 48rem // 768px
$md: 60rem // 960px
$lg: 75rem //  1200px
$xlg: 97.875rem // 1566px


@function col-width($col)
	@return $col * 100% / $cols

.container
	// max-width: rem(1536)
	width: 100%
	margin: auto
	padding-left: $gap 
	padding-right: $gap
	@media only screen and (max-width: 568px) 
		width: 100%
	@media only screen and (max-width: 768px) and (min-width: 567px)
		max-width: rem(540)
	@media only screen and (max-width: 960px) and (min-width: 767px)
		max-width: rem(750)
	@media only screen and (max-width: 1200px) and (min-width: 961px)
		max-width: rem(940)
	@media only screen and (max-width: 1566px) and (min-width: 1199px)
		max-width: rem(1170)
	@media only screen and (min-width: 1566px)
		max-width: rem(1566)
	
.row
	display: flex
	flex: 0 1 auto
	flex-flow: row wrap
	&.reverse
		flex-direction: row-reverse

.col
	display: flex
	flex-flow: column nowrap
	&.reverse
		flex-direction: column-reverse

=isColName($name)
	.#{$name}-1, .#{$name}-2, .#{$name}-3,
	.#{$name}-4, .#{$name}-5, .#{$name}-6,
	.#{$name}-7, .#{$name}-8,
	[class*=#{$name}-gap]
		flex: 0 0 auto
	.#{$name}
		flex-grow: 1
		flex-basis: 0
		max-width: 100%
		&_start
			justify-content: flex-start
			text-align: start
		&_center
			justify-content: center
			text-align: center
		&_end
			justify-content: flex-end
			text-align: end
		&_top
			align-items: flex-start
		&_middle
			align-items: center
		&_bottom
			align-items: flex-end
		&_around
			justify-content: space-around
		&_between
			justify-content: space-between
		&_first
			order: -1
		&_last
			order: 1

	@for $j from 1 through $cols
		$col-name-num: $name + '-' + $j
		.#{$col-name-num}
			flex-basis: col-width($j)
			max-width: col-width($j)

	.#{($name + '-' + gap + '-0')}
		margin-left: 0
	@for $j from 1 through $cols
		$col-name-gap: $name + '-' + gap + '-' + $j
		.#{$col-name-gap}
			margin-left: col-width($j)


+isColName(xs)
@media only screen and (min-width: $xs)
	+isColName(sm)
@media only screen and (min-width: $sm)
	+isColName(md)
@media only screen and (min-width: $md)
	+isColName(lg)
@media only screen and (min-width: $xlg)
	+isColName(xlg)


=isColName2($name)
	.#{$name}
		&_hidden
			display: none
		&_visible
			display: block
		&-align
			&--center
				text-align: center
			&--right
				text-align: right
				justify-content: flex-end
			&--left
				text-align: left
				justify-content: flex-start


@media only screen and (max-width: $xs)
	+isColName2(xs)
@media only screen and (min-width: $xs) and (max-width: $sm)
	+isColName2(sm)
@media only screen and (min-width: $sm) and (max-width: $md)
	+isColName2(md)
@media only screen and (min-width: $md) and (max-width: $lg)
	+isColName2(lg)
@media only screen and (min-width: $lg)
	+isColName2(xlg)
/* END flexbox grid */

/* BEGIN sticky footer */
.body
	display: flex
	flex-direction: column
	min-height: 100vh
.page-wrap
	flex: 1 0 auto
/* END sticky footer */