@media only screen and (max-width: $xlg)
	.box--5
		text-align: center
		margin-bottom: rem(30)
	.box--2
		margin-bottom: rem(25)
	.img-wrap--1
		margin-top: rem(30)
	.list--2
		margin-left: rem(15)
	.list--1
		margin-left: rem(50)

@media only screen and (max-width: $sm)
	.header
		[class*='btn']
			display: none
	.menu--header
		display: none

	.field--1, .field--2
		margin-bottom: rem(20)
	
	.tab--1
		text-align: center !important
	.tab__text--1
		padding: 0

@media only screen and (max-width: rem(1056))
	.header
		[class*='btn']
			display: none

@media only screen and (max-width: rem(620))
	.menu
		background-color: rgba($white, 0.2)
		border: 1px solid rgba($white, 0.3)
		border-top: 1px solid rgba($black, 0.2)
		padding: 10px
		display: none
		width: 100%
		border-radius: 4px
		&-link
			padding: 10px 15px !important
			margin-bottom: 1px
			line-height: 1 !important
			text-align: left
		&-item
			background-color: $white
			width: 100%
			display: block

@media only screen and (max-width: 72.75rem)
	.menu__link
		line-height: 1 !important
		padding: 5px !important
	.row--5
		margin-top: 150px

