/* BEGIN vertical spacing */
.row
	&--0
		margin: 0
		padding: 0
	&--1
		margin-right: rem(60)
		margin-right: rem(40)
		@media only screen and (max-width: $lg)
			margin-right: 0
	&--2
		margin-top: rem(23)
		margin-bottom: rem(121)
		@media only screen and (max-width: $sm)
			margin-top: rem(50)
			margin-bottom: rem(50)
	&--3
		margin-top: rem(228)
		margin-bottom: rem(117)
		text-align: left
		@media only screen and (max-width: $xlg)
			margin-top: rem(50)
			margin-bottom: rem(50)
		@media only screen and (max-width: $sm)
			margin-top: rem(50)
			margin-bottom: rem(30)
	&--4
		margin-bottom: rem(45)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(20)
	&--5
		margin-bottom: rem(198)
		margin-top: rem(180)
		margin-bottom: rem(50)
		@media only screen and (max-width: $xlg)
			margin-top: rem(100)
	&--6
		margin-top: rem(43)
		margin-bottom: rem(21)
	&--7
		padding-right: rem(30)
	&--8
		margin-bottom: rem(281)
		@media only screen and (max-width: $xlg)
			margin-bottom: rem(20)
	&--9
		margin-bottom: rem(142)
		margin-top: rem(265)
		@media only screen and (max-width: $xlg)
			margin-top: rem(70)
			margin-bottom: rem(70)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(40)
	&--10
		margin-top: rem(-55)
	&--11
		padding-bottom: rem(150)
		margin-top: rem(-100)
	&--12
		padding-top: rem(168)
		margin-bottom: rem(87)
		@media only screen and (max-width: $xlg)
			padding-top: rem(70)
		@media only screen and (max-width: $sm)
			padding-top: rem(50)
			margin-bottom: rem(40)
			text-align: center
	&--13
		margin-bottom: rem(30)
	&--14
		padding: rem(78) rem(79) rem(123) rem(192) 
		@media only screen and (max-width: $xlg)
			padding: rem(100)
		@media only screen and (max-width: $sm)
			padding: rem(15)

	&--15
		margin-bottom: rem(85)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(30)
			text-align: center
	&--16
		margin-top: rem(62)
		max-width: rem(400)
		@media only screen and (max-width: $sm)
			margin-top: rem(30)
			margin-bottom: rem(30)
	&--17
		margin-bottom: rem(78)
		@media only screen and (max-width: $xlg)
			margin-bottom: rem(30)
			margin-top: rem(40)
	&--18
		margin-bottom: rem(34)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(25)
	&--19
		margin-bottom: rem(80)
		@media only screen and (max-width: $xlg)
			margin-bottom: rem(50)
			margin-top: rem(50)
	&--20
		margin-left: rem(40)
		@media only screen and (max-width: $sm)
			margin-left: rem(10)
	&--21	
		margin-bottom: rem(44)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(20)
	&--22
		margin-top: rem(300)
		margin-bottom: rem(55)
		@media only screen and (max-width: $xlg)
			margin-top: rem(50)
			margin-bottom: rem(40)
	&--23
		margin-bottom: rem(30)
	&--24
		padding: 50px
		@media only screen and (min-width: $xlg)
			padding: rem(47) rem(204) rem(96) 
	&--25
		margin-bottom: rem(53)
		@media only screen and (max-width: $xlg)
			margin-bottom: rem(20)
	&--26
		margin-top: rem(91)
	&--27
		margin-bottom: rem(148)
		margin-top: rem(155)
		@media only screen and (max-width: $xlg)
			margin-top: rem(30)
			margin-bottom: rem(30)
	&--28
		padding: rem(121) rem(192) rem(80)
		@media only screen and (max-width: $xlg)
			padding: rem(75) rem(50)
		@media only screen and (max-width: $sm)
			padding: rem(15)
	&--29
		margin-bottom: rem(41)
		@media only screen and (max-width: $sm)
			margin-top: rem(30)
	&--30
		margin-top: rem(116)
		margin-bottom: rem(80)
		@media only screen and (max-width: $xlg)
			margin-top: rem(50)
			margin-bottom: rem(40)
	&--31
		position: relative
		z-index: 2
		margin-top: rem(-283)
	&--32
		padding-bottom: calc(170px + 283px)
		@media only screen and (max-width: $xlg)
			padding-bottom: calc(70px + 283px)
	&--33
		margin-top: rem(-85)
		padding-bottom: rem(83)
	&--34
		padding-left: rem(20)
		@media only screen and (max-width: $xlg)
			padding-left: 0
	&--35
		margin-top: rem(70)
	&--36
		padding-top: rem(240)
		margin-bottom: rem(96)
		text-align: left
		@media only screen and (max-width: $sm)
			padding-top: rem(100)
			margin-bottom: rem(50)
			text-align: center
		@media only screen and (min-width: $sm) and (max-width: $xlg)
			padding-top: rem(60)
			margin-bottom: rem(50)
	&--37
		margin-bottom: rem(50)
	&--38
		margin-bottom: calc(80px - 50px)
		margin-left: 0
		margin-right: 0
	&--39
		margin-top: rem(209)
		margin-bottom: rem(116)
		@media only screen and (max-width: $xlg)
			margin-top: rem(100)
			margin-bottom: rem(50)
	&--40
		margin-top: rem(43)
		margin-bottom: rem(19)
	&--41
		padding-right: rem(80)
	&--42
		margin-top: rem(53)
		@media only screen and (max-width: $sm)
			margin-top: rem(15)
			margin-bottom: rem(50)
	&--43
		margin-top: rem(-155)
	&--44
		padding-bottom: rem(95)
		@media only screen and (max-width: $sm)
			padding-bottom: rem(20)
	&--45
		margin-top: rem(-45)
		@media only screen and (max-width: $xlg)
			margin-top: rem(25)
/* END vertical spacing */

/* BEGIN DEL */
.btn--bg, .trs, .dotts, .bg--grad1, .bg--overlay1
	color: #fff

/* END DEL */

