/* BEGIN comboselect */
$comboselect-maw: 325px
$comboselect-mah: 150px
$comboselect-bd: #ddd
$comboselect-bg: #fff
$comboselect-hover: #b5b5b5
$comboselect-color: #ccc

.comboselect
	position: relative
	display: block
	margin-left: auto
	margin-right: auto
	margin-bottom: rem(20)
	width: 100%
	//max-width: $comboselect-maw
	vertical-align: middle
	text-align: left
	user-comboselect: none
	-webkit-touch-callout: none
	background-color: $white
	&__placeholder
		position: relative
		display: block
		z-index: 1
		border-radius: 2px
		cursor: pointer
		font-size: 13px
		color: darken($greyLight, 50%)
		font-weight: 300
		border-bottom: 1px solid darken($greyLight, 10%)
		padding: 10px
		padding-left: 0
		&::after
			content: '\f107'
			font-family: $FA
			position: absolute
			right: 5px
			top: 50%
			transform: translateY(-50%)
			z-index: 10
	&-dropdown
		display: none
		position: absolute
		overflow: hidden
		overflow-y: scroll
		width: 100%
		top: 100%
		left: 0
		list-style: none
		margin: 0
		padding: 0
		z-index: 100
		max-height: $comboselect-mah
		background-color: $white
		font-size: 13px
		font-family: Arial
		border: 1px solid darken($greyLight, 10%)
		color: darken($greyLight, 50%)
		&::-webkit-scrollbar
			height: 0px
			width: 0px
		&::-webkit-scrollbar-track 
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) 
			border-radius: 10px
		&::-webkit-scrollbar-thumb 
			border-radius: 10px
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)
		li
			display: block
			text-align: left
			padding: 0.8em 1em 0.8em 1em
			cursor: pointer
			border-bottom: 1px solid $greyLight
			&:hover
				color: $main
				background-color: lighten($main, 40%)
	&--open
		border-color: $main !important
		.comboselect__placeholder::after
			transform: rotate(180deg) translateY(50%)

		.comboselect-dropdown
			display: block
/* END comboselect */