/* BEGIN heading */
.heading
	&--1
		+font(90, 90, 400, $PD)
		line-height: 1
		text-align: center
		@media only screen and (min-width: $sm) and (max-width: $xlg)
			font-size: 4.5vw
		@media only screen and (max-width: $sm)
			line-height: 1
			font-size: rem(36)
	&--2
		+font(90, 80, 400, $PD)
		color: $textGrey3
		text-align: center
		@media only screen and (min-width: $sm) and (max-width: $xlg)
			font-size: 4vw
		@media only screen and (max-width: $sm)
			line-height: 1
			font-size: rem(32)
			text-align: center
	&--3
		+font(60, 60, 400, $PD)
		color: $blueDark
		text-align: left
		white-space: wrap
		@media only screen and (max-width: $sm)
			line-height: 1
			font-size: rem(28)
			text-align: center
	&--4
		+font(36, 80, 400, $PD)
		line-height: 1
		color: $blueDark
		text-align: left
		@media only screen and (max-width: $sm)
			line-height: 1
			font-size: rem(24)
	&--5
		+font(24, 36, 500, $RW)
		line-height: 1
		color: $blueDark
		text-align: left
		@media only screen and (max-width: $sm)
			line-height: 1
			font-size: rem(20)
	&--6
		+font(48, 24, 400, $PD)
		line-height: 1.1
		text-align: center
		@media only screen and (max-width: $sm)
			font-size: rem(24)

/* END heading */

/* BEGIN text */
.text
	&--center
		text-align: center
	&--left
		text-align: left
		justify-content: flex-start !important
	&--subheading
		+font(24, 80, 400)
		line-height: 1
		@extend .row--2
		@media only screen and (max-width: $sm)
			line-height: 1.5
			font-size: rem(20)
	&--gray1
		color: $greyLight
		user-select: none
		+font(200, 30, 700, $PD)
		@media only screen and (max-width: $lg)
			font-size: em(50)
		@media only screen and (max-width: $sm)
			line-height: 1
			font-size: rem(30)
		
	&--gray2
		+font(250, 80, 700, $PD)
		line-height: 1
		color: $greyLight2
		position: relative
		z-index: -1
		text-align: center
		@extend .row--10
		@media only screen and (max-width: $xlg) 
			font-size: 12vw
		@media only screen and (max-width: $sm)
			line-height: 1
			font-size: rem(30)
	&--gray3
		+font(150, 30, 700, $PD)
		//color: rgba($white, 0.83)
		color: rgba($white, 0.1)
		text-align: center
		//opacity: 0.83
		//margin-top: rem(20)
		line-height: 1
		z-index: 1
		@media only screen and (max-width: $xlg)
			font-size: rem(85)
		@media only screen and (max-width: $sm)
			font-size: rem(30)
		
	&--gray4
		@extend .text--gray2
		color: $greyLight3
		margin: 0
		line-height: 0.8
		z-index: -1
	&--gray5
		+font(180, 80, 700, $PD)
		line-height: 1.25
		color: rgba(232, 232, 232, 0.6)
		@extend .row--33
		position: relative
		z-index: 1
		text-align: center
		@media only screen and (max-width: $sm)
			font-size: rem(30)
		@media only screen and (max-width: $xlg) and (min-width: $sm)
			font-size: 10vw
	&--gray6
		@extend .text--gray2
		z-index: 1
		text-align: right
		@extend .row--43
		@media only screen and (max-width: $xlg)
			font-size: 12vw
				
	&--red
		color: $main
		+font(16, 24, 700, $RW)
		letter-spacing: 0.8px
		text-transform: uppercase

	&--1
		+font(16, 24, 300, $RW)
		color: $black
		text-align: left
		@extend .row--18
		&:last-child
			margin-bottom: 0
	&--2
		+font(16, 30, 300, $RW)
		color: $black
		text-align: left
	&--3
		+font(18, 30, 500, $RW)
		color: $textGrey6
		@extend .flex--center
		svg
			margin-right: rem(17)
		&:hover
			opacity: 0.8
		@media only screen and (max-width: $xs)
			margin-bottom: rem(20)
	&--4
		+font(18, 30, 300, $RW)
		text-align: center
		@media only screen and (max-width: $xs)
			font-size: 14px
/* END text */

/* BEGIN link */
.link
	&--1
		+font(24, 36, 500, $RW)
		color: $blueDark
		display: block
		text-align: left
		@extend .row--25
		span
			border-bottom: 1px dotted transparent
		&:last-child
			margin-bottom: 0
		&:hover
			span
				border-bottom-color: $blueDark
		@media only screen and (max-width: $sm)
			font-size: 1.15rem
		@media only screen and (max-width: $xlg)
			font-weight: 300

/* END link */