@import "_main"

/* BEGIN bg */
.bg
	&--video
		position: absolute
		z-index: -1
		left: 0
		max-width: 100%
		min-height: rem(850)
		width: 100%
		margin: 0 auto
		object-fit: cover
	&--grey
		background-color: $greyLight
		position: relative
		
	&--grad1
		background-image:  linear-gradient(to top, $greyLight3, transparent)
	&--dark
		+theme($teme)
	&--1
		background-color: $white
		box-shadow: 0px 40px 50px 0 rgba($black, 0.15)
	&--2
		+theme($teme)
		box-shadow: 0px 40px 81px 9px rgba($black, 0.15)
	&--3
		+theme($teme)
		height: 100%
		min-height: rem(850)
		position: relative
		z-index: 1
		color: $white
		&::after
			content: ""
			@extend .abs
			top: 0
			left: 0
			@extend .bgi
			min-height: rem(850)
			height: 100%
			background-image: url(../img/bg1.jpg)
			opacity: 0.2
			z-index: -1
		.heading--2
			color: $white
			
/* END bg */

/* BEGIN menu */
.menu	
	position: relative
	z-index: 5
	&-item
		display: inline-block
		vertical-align: middle
		cursor: pointer
	&__link
		display: block
		text-transform: uppercase
		+font(16, 60, 400, $RW)
		padding: rem(10) rem(20)
		&:hover, &--active
			box-shadow: inset 0 -2px 0 0 $main
			color: $main
		@media only screen and (max-width: rem(1156))
			padding: rem(10)
	@media only screen and (min-width: $sm)
		display: inline-block !important
		
				
/* END menu */

/* BEGIN section */
.section
	position: relative
	&--hero
		height: 100vh
		height: rem(850)
		+theme($dark)
		overflow: hidden
		@extend .flex
		flex-flow: column nowrap
		align-items: center
		justify-content: center
		background-color: transparent
		position: relative
		&::after
			content: ""
			@extend .abs--center
			background-color: $black
			opacity: 0.5
	&--result
		@extend .section
		z-index: -2
/* END section */

/* BEGIN list */
.list
	&--1
		counter-reset: list1
		text-align: left
		z-index: 3
		position: relative
	&--2
		counter-reset: list2
		text-align: left
	&--3
		text-align: left
	&__item
		&--1
			+font(16, 30, 300, $RW)
			color: $black
			position: relative
			z-index: 3
			@extend .row--4
			&:last-child
				margin-bottom: 0
			&::before
				counter-increment: list1
				content: counter(list1)
				+font(72, 80, 700, $RW)
				line-height: 1
				color: $greyLight2
				position: absolute
				left: rem(-47)
				top: rem(-10)
		&--2
			+font(16, 24, 300, $RW)
			@extend .row--13	
			position: relative
			&:last-child
				margin-bottom: 0
			&::before
				counter-increment: list2
				content: counter(list2)
				+font(30, 24, 700, $RW)
				color: $greyLight2
				position: absolute
				left: rem(-23)
				top: 0
		&--3
			+font(16, 24, 300, $RW)
			@extend .flex
			@extend .row--21
			align-items: center
			flex-flow: nowrap
			span
				@extend .row--20
			&:last-child
				margin-bottom: 0
/* END list */

/* BEGIN box */
.box
	&--1
		@extend .bg--2
		@extend .row--28
	&--2
		max-width: rem(293)
		@extend .bg--1
		@media only screen and (max-width: $xlg)
			max-width: rem(285)
	&--3
		@extend .bg--1
		@extend .row--14
		position: relative
		z-index: 2
	&--4
		@extend .box--3
		@extend .row--24
	&__heading--4
		+font(24, 24, 500, $RW)
		color: $textGrey3
		@extend .row--6
	&__text--1
		+font(16, 24, 300, $RW)
		color: $black
		@extend .row--7
/* END box */

/* BEGIN img */
.img
	&-wrap
		&--1
			display: block
			max-width: rem(571)
			max-height: rem(716)
			width: 100%
			overflow: hidden
			margin-left: auto
			margin-right: auto
			box-shadow: 0px 40px 50px 0 rgba($black, 0.2)
			img
				display: block
				margin: 0
				height: 100%
				object-fit: cover
				@media only screen and (max-width: $sm)
					height: auto
		&--2
			position: relative
			background-color: $greyLight2
			background-image:  linear-gradient(to top, $greyLight2, $greyLight)
			max-width: rem(402)
			width: 100%
			height: rem(447)
			margin-left: auto
			margin-right: 0
			@extend .row--35
			transition: all 0.3s ease-in
			&::after, &.active::after
				content: ""
				@extend .bgi
				background-image: url(../img/car1.png)
				width: rem(535)
				height: rem(309)
				position: absolute
				bottom: 0
				left: 0
				z-index: 3
				@media only screen and (max-width: $xlg)
					width: auto
					right: 0
					background-size: contain
			&.active::after, &:hover::after
				background-image: url(../img/car2.png)
				z-index: 4
			@media only screen and (max-width: $xlg)
				max-width: 100%
		&--3
			box-shadow: 0px 40px 50px 0 rgba($black, 0.15)
			position: relative
			z-index: 2
			@extend .row--45
			img
				display: block
			&::after
				content: ""
				@extend .bgi
				@extend .abs
				bottom: 0
				right: 0
				background-image: url(../img/about-car.png)
				height: rem(388)
				width: rem(717)
				z-index: 3
				@media only screen and (max-width: $xlg)
					width: 35vw	
					background-size: contain
/* END img */

/* BEGIN tab */
.tab
	&--1
		width: calc(100%/3)
		text-align: left
		opacity: 0.6
		&.active, &:hover
			opacity: 1
			.tab-desc--1
				border-top-color: $main
		@media only screen and (max-width: $xs)
			width: 100%
	&-desc--1
		border-top: 1px solid $white
		@extend .row--42
		
	&__heading--1
		+font(24, 80, 500, $RW)
		line-height: 1
		@extend .row--40
	&__text--1
		+font(16, 24, 300, $RW)
		@extend .row--41

/* END tab */

.form--2
	z-index: 2
	position: relative